#border{
    border: 1px solid black;
    margin-top: 10rem;
    width: 6px;
    height: 6px;
    background: black;
        transition: width 1s ease; 
 
}
#border2{
    border: 1px solid black;
    margin-top: 22rem;
    width: 6px;
    height: 6px;
    background: black;
        transition: width 1s ease; 
   
}

.container{
    overflow:hidden;
    height: 800px;
    width: 1920px;

}

.box{
    font-family: 'Bebas Neue', cursive;
    font-size: 500%;
    padding: 40px;
    height: 30px;
    width: 30px;
}
.box2{
    font-family: 'Bebas Neue', cursive;
    font-size: 500%;
    padding: 40px;
    height: 30px;
    width: 30px;
    margin-left: 15px;
}

.text{
    display: inline-block;
    padding: 30px;
}


/* for smaller screen 970px */
@media screen and (max-width: 1270px) {
.box{
    font-family: 'Bebas Neue', cursive;
    font-size: 200%;
    padding: 40px;
    height: 30px;
    width: 30px;
    margin-left: 100px;
}

.box2{
    font-family: 'Bebas Neue', cursive;
    font-size: 200%;
    padding: 40px;
    height: 30px;
    width: 30px;
    margin-left: 110px;
}

.text{
    display: inline-block;
    padding: 20px;
}

.container{
    overflow:hidden;
    margin-top: 50px;
    
    height: 600px;
    width: 1920px;

}

#border2{
    border: 1px solid black;
    margin-top: 17rem;
    width: 6px;
    height: 6px;
    background: black;
        transition: width 1s ease; 
}
}

@media screen and (max-width: 767px) {
    .box{
        font-family: 'Bebas Neue', cursive;
        font-size: 100%;
        padding: 40px;
        height: 30px;
        width: 30px;
    }
    
    .box2{
        font-family: 'Bebas Neue', cursive;
        font-size: 100%;
        padding: 40px;
        height: 30px;
        width: 30px;
        margin-left: 10px;
    }
    
    .text{
        display: inline-block;
        padding: 10px;
    }
    
    .container{
        overflow:hidden;
        margin-top: 50px;
        
        height: 600px;
        width: 767px;
    
    }
    
    #border2{
        border: 1px solid black;
        margin-top: 17rem;
        width: 6px;
        height: 6px;
        background: black;
            transition: width 1s ease; 
    }
}
/* for mobile */
@media screen and (max-width: 600px) {



.container{
    overflow:hidden;
    margin-top: 50px;
    
    height: 600px;
    width: 600px;

}
.box{
    font-family: 'Bebas Neue', cursive;
    font-size: 200%;
    padding: 40px;
    height: 30px;
    width: 60%;
    margin-left: 65px;
}
.box2{
    font-family: 'Bebas Neue', cursive;
    font-size: 200%;
    padding: 40px;
    height: 30px;
    width: 60%;
    margin-left: 70px;
}
.text{
    float:left;
    padding: 10px;
}
}